body {background: #f0f0f0}
header {
    background:rgb(1, 127, 255);
    padding: 5px 0;
}
section {margin: 10px auto 10px auto}

.logo {
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.progress_bar ol{list-style:none;counter-reset:li;}
.progress_bar li{float:left;height:55px;width:auto;margin-right:10px;padding:0 20px;color:#fff;font-size:14px;line-height:55px}
.progress_bar li:before{content:counter(li);counter-increment:li;float:left;height:30px;width:30px;margin-right:10px;margin-top: 10px;color:#fff;line-height:30px;font-size:20px;text-align:center;background-color:transparent;border:3px solid #fff;border-radius:20px}
.progress_bar .current{color:#fd6e1d;font-size:16px;font-weight: bold}
.progress_bar .current:before{color:#fd6e1d;border-color:#fd6e1d}
.notice {background: #f0f0f0;color:#999;text-align: center;padding: 5px 10px;font-size: 11px;padding-top: 20px;}

.col_main {
    float: left;
    overflow: hidden;
    width: 65.834%;
    background: #fff
}
.col_sub {
    float: right;
    overflow: visible;
    width: 31.667%;
    background: #fff
}
