/* folow login */
.wrap_cart {
    max-width: 350px;
    width: 350px;
    margin: 0 auto;
    background: #fff;
    padding:20px;
    border-radius: 5px;
    border:1px solid #f3f3f3;

}
/* form login */
.wrap_cart h3{font-size: 22px;text-align: center;padding: 10px 0}
.input, input.captcha {
    width: 100%;box-sizing: border-box;padding:10px;
    border: 1px solid #ececec;
    border-radius: 3px
}
.form .input {margin: 5px 0;}
.checkbox_label {font-size: 12px;vertical-align: middle;line-height: 24px}
.checkbox_label input {vertical-align: middle;margin-right: 10px;}
.actions {display: block;margin-top: 15px;}
.actions .btn_login, .actions a.btn_quick_buy {
    width: 100%;
    display: block;
    background: #fd6e1d;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border:none;
    padding: 9px 0;
    border-radius: 4px
}
.btn_quick_buy {
     background: #288ad6 !important;
     margin:5px 0;
}
.extlinks {text-align: center;color: #777;margin-top: 10px;}
.extlinks a {color: #288ad6 }
/* end form login */
