.consignee_list {
    max-width: 500px;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding:20px;
    border-radius: 5px;
    border:1px solid #f3f3f3;

}

.consignee_list h3{font-size: 22px;text-align: center;padding: 10px 0;margin-bottom: 20px;}
.consignee_list select{width: 33.3%;box-sizing: border-box;padding:10px;border-radius: 3px;border:1px solid #ececec;}
.consignee_list .odd select{float: left}
.consignee_list .odd {margin-bottom: 5px}
.inline_input, .block_input {padding: 5px 0;}
.inline_input input, .block_input input {
     width: 49.5%;box-sizing: border-box;padding:10px;
    border: 1px solid #ececec;
    border-radius: 3px;
}
.inline_input input:last-child {float: right}
.block_input input {width: 100%}
.actions {margin:20px 0;text-align: center}
.actions .btn_submit, .actions a.btn_del {
    width: 50%;
    display: inline-block;
    background: #fd6e1d;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border:none;
    padding: 12px 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
}