<!-- $Id: category_price_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<style type="text/css" media="screen">
    .unconfimred td {font-weight: 600}
</style>
<div class="form-div">
  <form action="javascript:searchList()" name="searchForm" >
    Lọc Danh mục <select name="cat_id">
        <option value="0">--Chọn--</option>
        {$cat_select}
      </select>
    <button class="btn" type="submit">{$lang.button_search}</button>
  </form>
</div>
<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th> <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
          <a href="javascript:listTable.sort('id'); ">ID</a>{$sort_id} </th>
       <th>Danh mục</th>
       <th>Tên</th>
       <th>Slug</th>
       <th>Khoảng giá</th>
       <th>Vị trí</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$category_price_list item=category_price}
    <tr>
      <td><input type="checkbox" name="checkboxes[]" value="{$category_price.id}" />
        {$category_price.id}</td>
      <td class="first-cell">{$category_price.cat_name}</td>
      <td>{$category_price.name|escape:html}</td>
      <td>{$category_price.slug}</td>
      <td>{$category_price.price_min|number_format} - {$category_price.price_max||number_format}</td>
      <td>{$category_price.sort_order}</td>
      <td align="center">
        <a href="category_price.php?act=edit&id={$category_price.id}" title="{$lang.edit}">{$lang.edit}</a> |
        <a href="javascript:;" onclick="listTable.remove({$category_price.id}, '{$lang.drop_confirm}')" title="{$lang.remove}">{$lang.remove}</a>      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  //
    function searchList()
    {
        listTable.filter.cat_id = Utils.trim(document.forms['searchForm'].elements['cat_id'].value);
        listTable.filter.page = 1;
        listTable.loadList();
    }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}