<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader_ckeditor.htm"}
{insert_scripts files="selectzone_bd.js,build_slug.js"}
<script type="text/javascript" src="../includes/ckfinder/ckfinder.js" rel="stylesheet" /></script>
<!-- start goods form -->
<div class="tab-div">
  <div id="tabbar-div">
    <p>
      <span class="tab-front" id="general-tab">Thông tin</span><span
      class="tab-back" id="article-tab">Tin liên quan</span>
    </p>
  </div>
  <div id="tabbody-div">
      <form action="category.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table width="100%" id="general-table">
          <tr>
            <td class="label">{$lang.cat_name}:</td>
            <td>
              <input type='text' name='cat_name' maxlength="160" value='{$cat_info.cat_name|escape:html}' size='27' /> <font color="red">*</font>
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.custom_name}:</td>
            <td>
              <input type='text' name='custom_name' maxlength="160" value='{$cat_info.custom_name|escape:html}' size='27' />
            </td>
          </tr>
            <tr>
                <td class="label">URL SEO</td>
                <td><input type="text" name="slug"  value="{$slug}" size = "30"  /> <input type="button" value="Tạo" class="button" onclick="build_slug('cat_name')"> {$lang.require_field}<br>
                    <input type="hidden" name="old_slug" value="{$slug}">
                    <span class="notice-span">Sẻ được tạo tự động nếu bạn để trống. Cân nhắc khi thay đổi vì nó ảnh hưởng đến Index Url này trên hệ thống tìm kiếm</span></td>
              </tr>
          <tr>
            <td class="label">{$lang.parent_id}:</td>
            <td>
              <select name="parent_id">
                <option value="0">{$lang.cat_top}</option>
                {$cat_select}
              </select>
            </td>
          </tr>

          <tr id="measure_unit">
            <td class="label">{$lang.measure_unit}:</td>
            <td>
              <input type="text" name='measure_unit' value='{$cat_info.measure_unit}' size="12" />
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.sort_order}:</td>
            <td>
              <input type="text" name='sort_order' {if $cat_info.sort_order}value='{$cat_info.sort_order}'{else} value="50"{/if} size="15" />
            </td>
          </tr>

          <tr>
            <td class="label">{$lang.is_show}:</td>
            <td>
              <input type="radio" name="is_show" value="1" {if $cat_info.is_show neq 0} checked="true"{/if}/> {$lang.yes}
              <input type="radio" name="is_show" value="0" {if $cat_info.is_show eq 0} checked="true"{/if} /> {$lang.no}
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.show_in_home} - Cat Goods:</td>
            <td>
              <input type="radio" name="show_in_home" value="1" {if $cat_info.show_in_home eq 1} checked="true"{/if}/> {$lang.yes}
              <input type="radio" name="show_in_home" value="0" {if $cat_info.show_in_home eq 0} checked="true"{/if} /> {$lang.no}
            </td>
          </tr>
          <tr>
            <td class="label">Danh mục Nổi Bật - Danh Mục</td>
            <td>
              <input type="checkbox" name="show_home_mobile" value="1" {if $cat_info.show_home_mobile eq 1} checked="true"{/if}/> Mobile
              <input type="checkbox" name="show_home_pc" value="1" {if $cat_info.show_home_pc eq 1} checked="true"{/if} /> Desktop
            </td>
          </tr>
          <tr>
            <td class="label">Danh Mục Nổi Bật - Category</td>
            <td>
              <input type="radio" name="show_in_cate" value="1" {if $cat_info.show_in_cate eq 1} checked="true"{/if}/> {$lang.yes}
              <input type="radio" name="show_in_cate" value="0" {if $cat_info.show_in_cate eq 0} checked="true"{/if} /> {$lang.no}
            </td>
          </tr>
          <tr class="none">
            <td class="label">{$lang.show_in_nav}:</td>
            <td>
              <input type="radio" name="show_in_nav" value="1" {if $cat_info.show_in_nav neq 0} checked="true"{/if}/> {$lang.yes}
              <input type="radio" name="show_in_nav" value="0" {if $cat_info.show_in_nav eq 0} checked="true"{/if} /> {$lang.no}
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.show_in_index}:</td>
            <td>
              <input type="checkbox" name="cat_recommend[]" value="1" {if $cat_recommend[1] eq 1} checked="true"{/if}/> {$lang.index_best}
              <input type="checkbox" name="cat_recommend[]" value="2" {if $cat_recommend[2] eq 1} checked="true"{/if} /> {$lang.index_new}
              <input type="checkbox" name="cat_recommend[]" value="3" {if $cat_recommend[3] eq 1} checked="true"{/if} /> {$lang.index_hot}
            </td>
          </tr>
          <tr>
            <td class="label"><a href="javascript:showNotice('noticeFilterAttr');" title="{$lang.form_notice}"><img src="images/notice.svg" width="16" height="16" border="0" alt="{$lang.notice_style}"></a>{$lang.filter_attr}:</td>
            <td>
              <script type="text/javascript">
              var arr = new Array();
              var sel_filter_attr = "{$lang.sel_filter_attr}";
              {foreach from=$attr_list item=val key=att_cat_id}
                arr[{$att_cat_id}] = new Array();
                {foreach from=$val item=item key=i}
                  {foreach from=$item item=attr_val key=attr_id}
                    arr[{$att_cat_id}][{$i}] = ["{$attr_val}", {$attr_id}];
                  {/foreach}
                {/foreach}
              {/foreach}
              //
              function changeCat(obj)
              {
                var key = obj.value;
                var sel = window.ActiveXObject ? obj.parentNode.childNodes[4] : obj.parentNode.childNodes[5];
                sel.length = 0;
                sel.options[0] = new Option(sel_filter_attr, 0);
                if (arr[key] == undefined)
                {
                  return;
                }
                for (var i= 0; i < arr[key].length ;i++ )
                {
                  sel.options[i+1] = new Option(arr[key][i][0], arr[key][i][1]);
                }

              }

              </script>


              <table width="100%" id="tbody-attr" align="center">
                {if $attr_cat_id eq 0}
                <tr>
                  <td>
                       <a href="javascript:;" onclick="addFilterAttr(this)">[+]</a>
                       <select onChange="changeCat(this)"><option value="0">{$lang.sel_goods_type}</option>{$goods_type_list}</select>&nbsp;&nbsp;
                       <select name="filter_attr[]"><option value="0">{$lang.sel_filter_attr}</option></select><br />
                  </td>
                </tr>
                {/if}
                {foreach from=$filter_attr_list item=filter_attr name="filter_attr_tab"}
                <tr>
                  <td>
                     {if $smarty.foreach.filter_attr_tab.iteration eq 1}
                       <a href="javascript:;" onclick="addFilterAttr(this)">[+]</a>
                     {else}
                       <a href="javascript:;" onclick="removeFilterAttr(this)">[-]&nbsp;</a>
                     {/if}
                     <select onChange="changeCat(this)"><option value="0">{$lang.sel_goods_type}</option>{$filter_attr.goods_type_list}</select>&nbsp;&nbsp;
                     <select name="filter_attr[]"><option value="0">{$lang.sel_filter_attr}</option>{html_options options=$filter_attr.option selected=$filter_attr.filter_attr}</select><br />
                  </td>
                </tr>
                {/foreach}
              </table>

              <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeFilterAttr">{$lang.filter_attr_notic}</span>
            </td>
          </tr>
          <tr>
            <td class="label"><a href="javascript:showNotice('noticeGrade');" title="{$lang.form_notice}"><img src="images/notice.svg" width="16" height="16" border="0" alt="{$lang.notice_style}"></a>{$lang.grade}:</td>
            <td>
              <input type="text" name="grade" value="{$cat_info.grade|default:0}" size="40" /> <br />
              <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeGrade">{$lang.notice_grade}</span>
            </td>
          </tr>
          <tr>
            <td class="label"><a href="javascript:showNotice('noticeGoodsSN');" title="{$lang.form_notice}"><img src="images/notice.svg" width="16" height="16" border="0" alt="{$lang.notice_style}"></a>{$lang.cat_style}:</td>
            <td>
              <input type="text" name="style" value="{$cat_info.style|escape}" size="40" /> <br />
              <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeGoodsSN">{$lang.notice_style}</span>
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.class}:</td>
            <td><input type="text" name="class" value='{$cat_info.class}' size="50">
            </td>
          </tr>
           <tr>
            <td class="label">Ads Position ID:</td>
            <td>
                Cate Desktop: <select name="ads_category">
                                <option value='0'>Chọn</option>
                                {html_options options=$position_list selected=$cat_info.ads_category}
                                </select>
                Cate Mobile:
                <select name="ads_category_mobile">
                <option value='0'>Chọn</option>
                {html_options options=$position_list selected=$cat_info.ads_category_mobile}
                </select>
                <br>
                Home Desktop:
                <select name="ads_home">
                <option value='0'>Chọn</option>
                {html_options options=$position_list selected=$cat_info.ads_home}
                </select>
                Home Mobile:
                <select name="ads_home_mobile">
                <option value='0'>Chọn</option>
                {html_options options=$position_list selected=$cat_info.ads_home_mobile}
                </select>
                <p class="notice-span">Hiển thị tại trang danh mục sản phẩm. Lấy ID của vị trí quảng cáo ở Ads -> AD Position</p>
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.icon}:</td>
            <td>
                <input type="text" size="50" id="ckfinder-input-1" value="{$cat_info.icon}" name="icon" /> <input type="button" id="ckfinder-popup-1" value="Chọn Ảnh" class="button" onclick="return selectFileWithCKFinder('ckfinder-input-1');">
                <br><span class="notice-span">iCon ở cây danh mục</span>
                  {if $cat_info.icon}
                  <br>
                  <img height="30px" src="../{$cat_info.icon}" alt="">
                  {/if}
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.thumb}:</td>
            <td>
                <input type="text" size="50" id="ckfinder-input-2" value="{$cat_info.thumb}" name="thumb" /> <input type="button" id="ckfinder-popup-2" value="Chọn Ảnh" class="button" onclick="return selectFileWithCKFinder('ckfinder-input-2');">
                  <br><span class="notice-span">Hình đại diện lớn cho danh mục</span>
                  {if $cat_info.thumb}
                  <br>
                  <img height="30px" src="../{$cat_info.thumb}" alt="">
                  {/if}
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.template_file}:</td>
            <td><input type="text" name="template_file" value='{$cat_info.template_file}' size="50">
                <br><span class="notice-span">Template riêng cho danh mục</span>
            </td>
          </tr>
           <tr>
            <td class="label">{$lang.is_tag}:</td>
            <td>
              <label><input type="radio" name="is_tag" value="1" {if $cat_info.is_tag neq 0} checked="true"{/if}/> {$lang.yes}</label>
              <label><input type="radio" name="is_tag" value="0" {if $cat_info.is_tag eq 0} checked="true"{/if} /> {$lang.no}</label>
            </td>
          </tr>
          <tr>
            <td class="label">Chặn Index Thương hiệu:</td>
            <td>
              <label><input type="radio" name="noindex_brand" value="1" {if $cat_info.noindex_brand neq 0} checked="true"{/if}/> {$lang.yes}</label>
              <label><input type="radio" name="noindex_brand" value="0" {if $cat_info.noindex_brand eq 0} checked="true"{/if} /> {$lang.no}</label>
              <p class="notice-span">Khi mà danh mục chia theo thương hiệu và có bộ lọc thương hiệu thì hãy cân nhắc chọn</p>
            </td>
          </tr>
          <tr>
            <td class="label">Ẩn Lọc Thương hiệu:</td>
            <td>
              <label><input type="radio" name="hide_brand" value="1" {if $cat_info.hide_brand neq 0} checked="true"{/if}/> {$lang.yes}</label>
              <label><input type="radio" name="hide_brand" value="0" {if $cat_info.hide_brand eq 0} checked="true"{/if} /> {$lang.no}</label>
              <p class="notice-span">Khi mà danh mục muốn bộ lọc thương hiệu</p>
            </td>
          </tr>
          <tr>
            <td class="narrow-label">{$lang.meta_robots}</td>
            <td>
                {foreach from=$lang.meta_robots_list key=k item=val}
                <label><input type="radio" name="meta_robots" value="{$k}" {if $cat_info.meta_robots eq $k}checked{/if}> {$val}</label>
                {/foreach}
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.meta_title}:</td>
            <td><input type="text" name="meta_title" id="meta_title" value='{$cat_info.meta_title}' size="50" onkeyup="count_word('meta_title')"> <span id="count_meta_title">0</span> Kí tự.
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.keywords}:</td>
            <td><input type="text" name="keywords" value='{$cat_info.keywords}' size="50">
            </td>
          </tr>
             <tr>
            <td class="label">{$lang.meta_desc}:</td>
            <td>
              <textarea name='meta_desc' id="meta_desc" rows="6" cols="48" onkeyup="count_word('meta_desc')">{$cat_info.meta_desc}</textarea><span id="count_meta_desc">0</span> Kí tự.
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.cat_desc}:</td>
            <td>
                {$CKeditor_cat_desc}
              <!-- <textarea name='cat_desc' rows="6" cols="48">{$cat_info.cat_desc}</textarea> -->
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.long_desc}:</td>
            <td>
                {$CKeditor_long_desc}
              <!-- <textarea name='long_desc' rows="6" cols="48">{$cat_info.long_desc}</textarea> -->
            </td>
          </tr>
          </table>
          <table id="article-table" width="90%" style="display:none">
          <tr>
            <td colspan="3">
              <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
              Tiêu đề tin <input type="text" name="article_title" />
              <input type="button" value="{$lang.button_search}" onclick="searchArticle()" class="button" />
            </td>
          </tr>
          <!-- 鏂囩珷鍒楄〃 -->
          <tr>
            <th>Tất cả tin tức</th>
            <th>{$lang.handler}</th>
            <th>Tin được chọn</th>
          </tr>
          <tr>
            <td width="45%">
              <select name="source_select3" size="20" style="width:100%" multiple ondblclick="sz3.addItem(false, 'add_cate_article', goodsId,this.form.elements['price3'].value)">
              </select>
            </td>
            <td align="center">
              <p>Vị trí <input name="price3" value="1" type="text" size="3" /></p>
              <p><input type="button" value=">>" onclick="sz3.addItem(true, 'add_cate_article', goodsId,this.form.elements['price3'].value)" class="button" /></p>
              <p><input type="button" value=">" onclick="sz3.addItem(false, 'add_cate_article', goodsId,this.form.elements['price3'].value)" class="button" /></p>
              <p><input type="button" value="<" onclick="sz3.dropItem(false, 'drop_cate_article', goodsId)" class="button" /></p>
              <p><input type="button" value="<<" onclick="sz3.dropItem(true, 'drop_cate_article', goodsId)" class="button" /></p>
            </td>
            <td width="45%">
              <select name="target_select3" size="20" style="width:100%" multiple ondblclick="sz3.dropItem(false, 'drop_cate_article', goodsId)">
                {foreach from=$cate_article_list item=cate_article}
                <option value="{$cate_article.article_id}">{$cate_article.title} - {$cate_article.sort}</option>
                {/foreach}
              </select>
            </td>
          </tr>
        </table>
        <div class="button-div">
            <input type="submit" class="btn" value="{$lang.button_submit}" />
            <input type="reset" class="btn btn-def" value="{$lang.button_reset}" />
             <input type="hidden" name="act" value="{$form_act}" />
            <input type="hidden" name="old_cat_name" value="{$cat_info.cat_name}" />
            <input type="hidden" name="cat_id" value="{$cat_info.cat_id}" />
          </div>
    </form>
    </div><!-- tabbody-div -->
</div>
{insert_scripts files="validator.js,tab.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['cat_name'].focus();
var goodsId = {$cat_info.cat_id|default:0};
var elements  = document.forms['theForm'].elements;
var sz3       = new SelectZone(1, elements['source_select3'], elements['target_select3'],elements['price3']);

/**
 * 检查表单输入的数据
 */
function validate()
{
  validator = new Validator("theForm");
  validator.required("cat_name",      catname_empty);
  if (parseInt(document.forms['theForm'].elements['grade'].value) >10 || parseInt(document.forms['theForm'].elements['grade'].value) < 0)
  {
    validator.addErrorMsg('{$lang.grade_error}');
  }
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function searchArticle()
  {
    var filters = new Object;
    filters.title = Utils.trim(elements['article_title'].value);
    sz3.loadOptions('get_article_list', filters);
  }


/**
 * 新增一个筛选属性
 */
function addFilterAttr(obj)
{
  var src = obj.parentNode.parentNode;
  var tbl = document.getElementById('tbody-attr');

  var validator  = new Validator('theForm');
  var filterAttr = document.getElementsByName("filter_attr[]");

  if (filterAttr[filterAttr.length-1].selectedIndex == 0)
  {
    validator.addErrorMsg(filter_attr_not_selected);
  }

  for (i = 0; i < filterAttr.length; i++)
  {
    for (j = i + 1; j <filterAttr.length; j++)
    {
      if (filterAttr.item(i).value == filterAttr.item(j).value)
      {
        validator.addErrorMsg(filter_attr_not_repeated);
      }
    }
  }

  if (!validator.passed())
  {
    return false;
  }

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
  filterAttr[filterAttr.length-1].selectedIndex = 0;
}

/**
 * 删除一个筛选属性
 */
function removeFilterAttr(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody-attr');

  tbl.deleteRow(row);
}

function selectFileWithCKFinder( elementId ) {
    CKFinder.popup( {
        chooseFiles: true,
        width: 860,
        height: 600,
        onInit: function( finder ) {
            finder.on( 'files:choose', function( evt ) {
                var file = evt.data.files.first();
                var output = document.getElementById( elementId );
                output.value = file.getUrl();
            } );

            finder.on( 'file:choose:resizedImage', function( evt ) {
                var output = document.getElementById( elementId );
                output.value = evt.data.resizedUrl;
            } );
        }
    } );
}

//-->
</script>
<script type="text/javascript">
    function count_word(element){
        var oj = $('#'+element).val();
        $('#count_'+element).html(oj.length);
    }
</script>
{/literal}
{include file="pagefooter.htm"}