<!-- $Id: comment_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader_jquery.htm"}
<style type="text/css" media="screen">

#images_review {
    display: block;
    margin: 20px 0;
    padding: 0;
    width: 100%;
    clear: both;
}
#images_review li {
    float: left;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    list-style: none
}
#images_review li img {
    max-width: 150px;
}
#images_review li i {
    border: solid 1px #4d4d4d;
    background: #4d4d4d;
    height: 25px;
    width: 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    box-sizing: border-box;
    right: -10px;
    top: -10px;
    vertical-align: middle
}
</style>
<!-- comment content list -->
<div class="list_div">
    <table width="100%" class="table_data">
        <tr>
            <th width="15%">Khách</th>
            <th width="15%">Liên kết</th>
           <th width="50%">Nội dung bình luận</th>
           <th width="20%">Tác vụ</th>
        </tr>
        <tr>
          <td>
            <p>User: {if $msg.user_name}{$msg.user_name}{else}{$lang.anonymous}{/if}</p>
            <p>Tel: {$msg.user_tel}</p>
            <p>Email: {$msg.email}</p>
          </td>
          <td><a href="../{$id_url}#comment{$msg.comment_id}" target="_blank">{$id_value}</a></td>
           <td>{$msg.content}</td>
           <td>
                <p>Ngày:{$msg.add_time}</p>
               <p>Rank: {$msg.comment_rank}</p>
               <p>IP: {$msg.ip_address}</p>
               <p>
                {if $msg.status eq "0"}
                <input type="button" onclick="location.href='comment_manage.php?act=check&check=allow&id={$msg.comment_id}'" value="{$lang.allow}" class="button" />
                {else}
                <input type="button" onclick="location.href='comment_manage.php?act=check&check=forbid&id={$msg.comment_id}'" value="{$lang.forbid}" class="button" />
                {/if}
                {if $msg.is_buy eq "0"}
                <input type="button" onclick="location.href='comment_manage.php?act=is_buy&id={$msg.comment_id}'" value="Đánh Dấu Đã Mua" class="button" />
                {else}
                <span>Đã Mua</span>
                {/if}
               </p>
            </td>
        </tr>
    </table>
</div>
<div class="clearfix"></div>
<p style="padding: 10px">Hình ảnh khách hàng up Reivew đánh giá</p>
<ul class="clearfix" id="images_review">
    {foreach from=$images_review item=photo name=images_review}
    <li data-name="{$photo.img}" data-id="{$photo.id}"><img src="../cdn/{$photo.img}"><i class="delImg" onclick="fbDelImg(this)">x</i></li>
    {/foreach}
</ul>
<script type="text/javascript">
    function fbDelImg(el) {
        var img = $(el).parent().data('name');
        var id = $(el).parent().data('id');

        $.ajax({
          method: "POST",
          url: "comment_manage.php?act=remove_photo",
          data: {img: img, id: id}
        })
        .done(function( msg ) {
           //console.log(msg);
        });
        $(el).parent().remove();
        return false;
    }
</script>
<div class="clearfix"></div>
<div class="list_div" style="margin: 20px 0">
{if $reply_info}
    <table width="100%" class="table_data">
        <tr>
            <th>{$lang.admin_user_name}</th>
           <th>Nội dung trả lời</th>
           <th>Tác vụ</th>
        </tr>
        {foreach from=$reply_info item=reply}
        <tr>
          <td width="170">
            <p>User: {$reply.user_name}</p>
            <p>Time: {$reply.add_time}</p>
            <p>IP: {$reply.ip_address}</p>
          </td>
           <td>{$reply.content}</td>
           <td width="100"><a href="comment_manage.php?act=edit&id={$reply.comment_id}&pid={$msg.comment_id}">Sửa</a> | <a href="comment_manage.php?act=del&id={$reply.comment_id}&pid={$msg.comment_id}">Xóa</a></td>
        </tr>
        {/foreach}
    </table>
<!-- reply content list -->
{/if}

{if $send_fail}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$lang.mail_send_fail}</li>
</ul>
{/if}

<form method="post" action="comment_manage.php?act=action" name="theForm" onsubmit="return validate()">
<table border="0" align="center">

  <tr>
    <td>{$lang.reply_content}:</td>
    <td><textarea name="content" cols="80" rows="4"></textarea></td>
  </tr>

  <tr>
    <td></td>
    <td><input name="send_email_notice" type="checkbox" value='1'/>{$lang.send_email_notice}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
        <input name="user_name" type="hidden" {if $reply_info.user_name eq ""}value="{$admin_info.user_name}"{else} value="{$reply_info.user_name}"{/if} />
        <input type="hidden" name="email" {if $reply_info.email eq ""}value="{$admin_info.email}"{else} value="{$reply_info.email}"{/if}>
      <input name="submit" type="submit" value="{$lang.button_submit}" class="button">
      <input type="reset" value="{$lang.button_reset}" class="button">
         {if $reply_info.content}<input type="submit" name="remail" value="{$lang.remail}" class="button">{/if}
      <input type="hidden" name="comment_id" value="{$msg.comment_id}">
      <input type="hidden" name="comment_type" value="{$msg.comment_type}">
      <input type="hidden" name="id_value" value="{$msg.id_value}">
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['content'].focus();

/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("content",  no_content);
    return validator.passed();
}

onload = function() {
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}