section {
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
}


.box .selector {
    white-space: nowrap;
    padding: 10px;
}
.box .selector a {
    color: #333 !important;
    margin-right: 5px;
    border: 1px solid #444;
    border-radius:3px;
     padding: 5px;
}
.box .selector a.current {
    background: #333;
    color:#fff !important;
}


.nav_back {
    height: 48px;
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 8;
}

.nav_back>span:before, .nav_back>span:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 8px solid #333;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: 10px;
    top: 15px;
}
.nav_back>span:after {
    border-width: 7px;
    border-right-color: #fed700;
    margin-left: 3px;
    margin-top: 1px;
}


h1{
    color:#111;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.empty {
    padding: 30px 0;
    text-align: center
}
#owl-home {
    display: block;
}

#owl-home .item img {
    display: block;
    width: 100%;
    height: auto
}
#owl-home .owl-pagination {text-align: center}
#owl-home .owl-controls .owl-page span {
    width: 4px;
    height: 4px;
    border: 1px solid #ccc;
    background: none
}

#owl-home .owl-controls .owl-page.active span {
    background: #fe7705;
    border: 1px solid #fe7705
}

#owl-home .item {
    display: none
}

#owl-home .item:first-child {
    display: block
}

#owl-home.owl-theme .item:first-child {
    display: block
}

#owl-home .owl-item.loading {
    background: none
}




.scrollmenu {
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%,100%);
    -ms-scroll-chaining: chained;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0;
}
.navhome {
    display: block;
    overflow: hidden;
    margin: 10px 0;
    width: 640px;
    padding-left: 10px;
}
.navhome li{
    display: inline-block;
    float: left;
    width: 90px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
}

.navhome li a {
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 1.3em;
}
.navhome li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 10px;
}


/*goods List */
.homeproduct {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
}

.homeproduct li {
    float: left;
    position: relative;
    background: #fff;
    width: 49.7%;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee
}

.homeproduct li a {
    display: block;
    overflow: hidden;
    padding: 10px 0
}

.homeproduct li h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 300;
    color: #222;
    clear: both;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 10px
}


.homeproduct li .price {
    display: block;
    overflow: hidden;
    padding: 5px 10px 5px 10px
}


.homeproduct li strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #e10c00;
    font-weight: 300;
    line-height: 15px
}

.homeproduct li strong del, .homeproduct li .price span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
    text-decoration: line-through;
    color: #555
}

.homeproduct li img {
    display: block;
    margin: 10px auto;
    height: 140px;
    width: 140px
}


.homeproduct li label {
    display: inline-block;
    position: absolute;
    top: 142px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 3px;
    padding: 0 5px;
    height: 18px
}

.homeproduct li label.discount {
    background-image: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 0;
    padding-right: 10px
}

.homeproduct li label.discount:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAABGdBTUEAALGPC/xhBQAAAVpJREFUOBGVki1LBFEUhueuH0FQTAuimxVE2KZBgxj8AxaLglj8AYLJZLOYtFpFwWQ2iMUkiyBqNCloEFEQYXzuzl7mzP0Y7z3w7j0f73PuDDtZFhl5njfRI5qJREobUB+6RL9otJxEZkD7SMd1JFLagFa6aPGzW04iMpgp9CEWzEZghQVoGN0L+I28kbLgVMA6PUmBty1YlxtRCzAuIv132THx7wKIcfRik9R3IbjfDDANkp+hpumJ8535pqhN+mySDMMhSo1OdwHUWiqJ/wu19c3tXsGRFOvm9k4SVpiPzLsr6mWKlmmIc568uEU0SW/QglLqp9q2KhYfe57slZ7vsiqNqYHs70F/XEtVZ6DCOIfs2AnY3TbknkWfUyvXGehgvhULHshHAla3jbkl4E/yaddV0wHYEgtWa6z+EfBFb8GB31HTBRxC3+gKDdRY/SOgSfSExvwOt/sHwv9i4NYIgYYAAAAASUVORK5CYII=');
    background-size: 50% 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f13500;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px
}

.homeproduct .percent {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 40px;
    height: 32px;
    background-image: url(../img/deal-tag.png);
    background-size: 40px 36px;
    margin: 1px 0px 0px;
    background-position: 0px 0px;
}
.homeproduct .ratingresult {
    padding: 5px 10px
}

.homeproduct .ratingresult span {
    color: #777;
    text-decoration: none;
    position: relative;
    top: 1px;
    font-size: 12px;
}

.rank{display:inline-block;height:12px;width:70px;text-indent:-999em;background:url('../img/stars.gif') no-repeat left top;vertical-align: middle;background-size: 65px 67px;}
.rank_star{background-position:0 0;width: 12px}
.rank_2{background-position:0 -14px}
.rank_3{background-position:0 -27px}
.rank_4{background-position:0 -40px}
.rank_5{background-position:0 -52px}


.homeproduct li .promotion {
    display: block;
    max-height: 36px;
    overflow: hidden;
    padding-left: 5px;
}
.homeproduct li .promotion p {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.homeproduct li .promotion p::before {
    color: #999;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.display_list li {
    width: 100%;
    display: block;
}
.display_list  li img {
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 100px;
    height: 100px;
}
.display_list  li .ginfo{
    display: inline-block;
    float: left;
}

/* promo */
.box .extra {float: none !important;line-height: normal !important;}
/* scroll */
.overpromo {
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    -ms-scroll-chaining: chained;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 0
}

.overpromo::-webkit-scrollbar {
    width: 0;
    height: 0
}

.overpromo::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.overpromo::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px
}
.listpromo {
    padding: 5px 0;
    position: relative;
    z-index: 1;
    width: 2000px
}

.listpromo li {
    float: left;
    width: 160px;
    background: #fff;
    position: relative;
    padding: 0;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 4px
}

.listpromo li img {
    width: 96%;
    height: auto;
    max-height: 140px;
}

.listpromo li label {
    top: 132px;
    left: 5px
}

.listpromo li strong {
    font-size: 13px
}

.listpromo li h3,
.listpromo li .overpromo {
    padding-left: 5px;
    padding-right: 5px
}

.listpromo li .price {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 5px 10px 5px
}

.listpromo li .promo {
    padding: 0 5px
}


.cat_goods_more {
    display: block;
    padding: 10px;
    color:#288ad6;
    text-align: center;
    border-bottom:4px solid #f4f4f4;
}

/* catesearch */

.catesearch {
    display: block;
    background: #f4f4f4;
    padding: 10px;
}

.catesearch form {
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
    height: 34px;
    position: relative
}

.catesearch input {
    display: block;
    border: 0;
    background: #fff;
    padding: 10px;
    height: 34px;
    border-radius: 3px;
    width: 90%
}

.catesearch .submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    background: #fff;
    height: 16px;
    border-radius: 0 3px 3px 0;
    border: 0;
    height: 34px
}

.catesearch .reset {
    display: none;
    position: absolute;
    top: 0;
    right: 34px;
    width: 30px;
    height: 34px;
    border: 0;
    background: #fff;
    border: 0
}

.pagination{padding:15px 0 10px;font-size:14px;text-align:center;clear:both}
.pagination a{color:#999;margin-left:3px;padding:4px 9px;background-color:#eee;border:1px solid #bbb;border-radius:3px}
.pagination a:hover{color:#666;text-decoration:none;background-color:#ddd;border-color:#999}
.pagination a.current{color:#ff8c22;background-color:#ffe8ce;border-color:#ff8c22}
.pagination span{padding:5px 10px}
.pagination .total{color:#ccc;}


/* filter */
.filter {
    display: block;
    height: 40px;
    position: fixed;
    overflow: hidden;
    bottom:0;
    z-index: 2;
    padding: 0 10px;
    background: #fff;
    width: 100%;
    max-width: 640px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -5px 5px -5px #ddd;
}

.filter li {
    display: inline-block;
    line-height: 40px;
    width: 33.2%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-right:1px solid #ddd;

}
.filter li:last-child{border-right:0;}
.filter li .criteria{
    overflow: hidden;
    font-size: 14px;
    color: #333
}


.order_by label {
    display: block;
    padding: 5px 0 6px
}
.order_by label a {
    color: #333
}
.order_by label span {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ddd;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
}

.order_by label span.check {
    background: #4a90e2;
    color:#fff;
    border: 1px solid #4a90e2!important;
}

.iconmobile-orderby {
    width: 12px;
    height: 20px;
    background-position: 0 -58px
}
.iconmobile-filterby {
    width: 14px;
    height: 20px;
    background-position: -14px -58px
}

.iconmobile-grid {
    width: 16px;
    height: 20px;
    background-position: -33px -58px
}
.grid_active .iconmobile-grid{
    background-position: -49px -58px
}

#order_by {
    display: none;
    position: fixed;
    overflow: hidden;
    bottom:45px;
    z-index: 2;
    padding: 10px;
    background: #fff;
    width: 50%;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px #ddd;
}

.overlay {
    display: none;
    overflow: hidden;
    z-index: 11;
    background: rgba(0, 0, 0, .75);
    width: 100%;
    max-width: 640px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#filter_sidebar {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100vh;
    right: -82%;
    z-index: 12;
    opacity: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    background: #fff;

}
#filter_sidebar.show{
    right: 0;
    opacity: 1;
}
.filter_inside {
    display: block;
    overflow: hidden;
    margin: 0 auto 0;
    position: relative;
    z-index: 12;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.filter_sidebar_title {
    line-height: 40px;
    background: #fafafa;
    width: 100%;
    position: relative;
     font-weight: bold;
     padding-left: 10px;
}
.filter_sidebar_title>span{
    position: absolute;
    top:7px;
    right:20px;
    display: block;
    padding: 6px 10px;
    border-radius:10px;
    font-weight: bold;
    text-align: center;
    border:1px solid #ddd;
    line-height:10px;
    z-index: 2;
}


/* Filter sidebar */
.filter_box {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #fff
}
.filter_box li {
    display: block;
    padding: 0 10px;
}
.filter_box .filter_title {margin: 5px 0;display: block;font-weight: 700;text-transform: uppercase;
    border-bottom:1px solid #ececec;padding-bottom: 5px;
}
.filter_box .filter_items a{display: block;padding: 6px 0;color: #333;overflow: hidden;text-overflow: ellipsis;white-space:nowrap}
.filter_box .filter_items a:hover, .filter_box .filter_items.hassub:hover>a{color:#0071c4}
.filter_box .filter_items a span {height: 12px;width: 12px;display: inline-block;margin-right: 5px;border: 1px solid #2196f3;line-height: 12px;vertical-align: middle;text-align: center;border-radius: 3px;position: relative}
.filter_box .filter_items a span.selected{background: #2196f3}
.filter_box .filter_items a span.selected:before {
    content:"✓";
    display: inline-block;
    color:#fff;
    line-height: 12px;
    font-weight:bold;

}
.filter_box .fbrand img {
    display: inline-block;
    max-height: 25px;
    vertical-align: middle;
}
.filter_inside ul:last-child{margin-bottom: 30px;}
/* end filter */


/*table */
table{width: 100%; max-width: 100% }
table>thead>tr>th {border-bottom: 1px solid #bbb; text-align: left; font-weight: 600; }
table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
    padding: 8px 10px; line-height: 1.5384616; vertical-align: middle; border-top: 1px solid #ddd
}
table td, table th, table tr{transition: background-color .15s ease-in-out }
table tbody>tr:nth-of-type(odd) {background-color: #fcfcfc; }
table>tbody>tr:hover, table>tbody>tr.active>td, table>tbody>tr.active>th, table>tbody>tr>td.active, table>tbody>tr>th.active, table>tfoot>tr.active>td, table>tfoot>tr.active>th, table>tfoot>tr>td.active, table>tfoot>tr>th.active, table>thead>tr.active>td, table>thead>tr.active>th, table>thead>tr>td.active, table>thead>tr>th.active {
    background-color: #f6f6f6;
}

article{display: block; overflow: hidden;padding: 10px}
article p, article div, article h2, article h3, article h4 {
    margin: 5px auto 5px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
}
article a, article a:hover, article a:active {color: #288ad6;font-size: 15px}
article h3, article h3 a{font-size: 16px}
article h2, article h2 a {font-size: 15px}
article h4, article h4 a{font-size: 15px}
article div {margin-top: 0}
article div em, article p em{font-style: italic}
article h2, article h3, article h4, article h5{font-weight: 700;margin: 10px auto;}
article ul{list-style: disc;margin-left: 30px}
article ol{margin-left: 30px}

article table {
    margin: 10px auto;
    border-collapse: collapse;
    max-width: 100%;
    font-weight: 300;
    width: 100%
}

article table+table {
    margin-top: 15px
}

article table ul,
article table ol {
    width: auto
}

article td,
article th {
    padding: .3em;
    border: 1px #ccc solid;
    width: auto
}

article td p,
article th p {
    width: auto
}

article img {
    display: block;
    height: auto;
    margin: 15px auto 5px;
    max-width: 100%;
    width: auto;
}


article .short_view {
    max-height: 500px;
    clear: both;
    overflow: hidden;
    display: block;
}
article .view-more {background: #fff;width: 100%;min-height: 50px}
article .view-more p {margin-top: 20px; text-align: center}
article .view-more p span { width: 50px;color: #288ad6  ;cursor: pointer;border:1px solid  #288ad6;padding:8px 25px;border-radius: 3px;background: #fff}
article .view-more p span:hover{background: #288ad6;color: #fff}


.choosedfilter {
    display: block;
    overflow: hidden;
    background: #fff;
    margin: 10px 0
}

.choosedfilter a {
    display: inline-block;
    vertical-align: text-bottom;
    padding: 6px;
    background: #288ad6;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    margin-right: 5px
}

.choosedfilter a:after {
    content: "x";
    display: inline-block;
    color: #fff;
    margin-left: 8px;
}
.choosedfilter a.reset {
    background: #c10017
}


.articles_relate li {
    display: block;
    overflow: hidden;
    padding: 5px 0;
    display: block;
    margin: 0 10px;
}
.articles_relate li a {
    display: block;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.articles_relate li a img {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.articles_relate li a h3 {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.articles_relate li a p {
    vertical-align: middle;
    color: #666;
    cursor: pointer;
    font-size: 12px;
    margin-top: 1%;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}




@media screen and (max-width:480px) {
}
@media screen and (max-width:414px) {
}
@media screen and (max-width:384px) {
}

@media screen and (max-width:320px) {
    .homeproduct li {width: 49%}
    .homeproduct li img {
        width: 120px;
        height: 120px;
    }
}
