
.fixbar {
    width: 380px;
    position: fixed;
    top: 65px;
    right: 70px
}
.empty {
    padding:50px;
    text-align: center
}
/* folow cart */
.listorder  {background: #fff}
.listorder li {border-bottom: 1px solid #ececec;padding: 10px 0 }

.listorder li .col_img {
    float: left;
    overflow: hidden;
    position: relative;
    width: 69%;
}
.listorder li .col_img .photo {
    float: left;
    overflow: hidden;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 0 10px;
}
.listorder li .col_img .photo img {
    width: 100%;
    height: auto
}
.listorder li .col_img a.name {
    display: block;
    font-size: 12px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 600
}
.fittings_list a.name {margin-top: 10px;}
.listorder li .col_price {
    display: inline-block;
    overflow: visible;
    width: 29%;
    padding-left: 5px;
}
.listorder li .extra_info {font-size:12px;line-height:18px;}
.listorder li .col_price .price {color: #c10017;font-weight: 700;display: block;margin-bottom: 5px;}
.listorder li .col_price strong{color: #c10017}
.listorder li .col_act {
    display: inline-block;
    overflow: visible;
    width: 105px;
    padding-left: 5px;
    text-align: center;
    float: right
}
.listorder li a {
    display: block;
    overflow: hidden;
}
.listorder li img {
    display: inline-block;
    width: 75px;
    margin: 5px 0 10px;
}
.listorder li .actions a {
    padding: 5px;
    background: #288ad6;
    color: #fff;
    text-align: center;
    margin: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.icon_delete {
    position: absolute;
    top:5px;left: 5px;
    z-index: 2;
    border:1px solid #ddd;
    color:#444;background: #f6f6f6;width: 20px;height: 20px;border-radius: 10px;text-align: center
}
.order_total {
    padding: 10px;
}
.order_total h3 {
    font-weight: 700;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.subtotal strong {float: right;color: #c10017}
.flow_action {text-align: center}
.flow_action a.btn_checkout {
    overflow: hidden;
    padding: 9px 0;
    border-radius: 4px;
    margin: 10px auto;
    display: block;
    width: 90%;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
}
.flow_action a.btn_back {
    background: #0e74c2
}
.flow_action a>span {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: none;
    font-weight: normal;
}
.btn_update_cart, .btn_back {
    background: none;
    color: #333;
    margin-right: 20px;
    border:none;
    padding: 0 10px;
    cursor: pointer;
}
.button-container .qty {
    width: 40px;
    border:1px solid #ececec;
    padding:5px;
    float: left;

}
.button-container .cart-qty-minus,
.button-container .cart-qty-plus {
    background: #f3f3f3;
    color: #333;
     float: left;
}
.delete_cart  {color: #333}

/* fittings_list */
.goods_list {
    margin: 20px 0;
    background: #fff
}
.goods_list .title {
    font-size: 16px;
    padding:10px;
}
.favourable_list  {
    padding: 0 10px;
}
.favourable_list h4 {font-weight: bold}
.favourable_info {
    background: #fafafa;
    padding: 10px;
    margin: 10px 0;
}
.favourable_info li {line-height: 24px;}
.favourable_info li label{display: block;clear: both;padding: 10px 0;}
@media screen and (max-width:384px) {
   .button-container .qty{width: 25px}
}
@media screen and (max-width:320px) {
   .button-container .qty{width: 15px}
}

