section {min-height: 500px}
.message_wrapper {
    margin: 0 auto;
    background: #fff;
    padding:20px;
    border-radius: 5px;
    border:1px solid #f3f3f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.message_wrapper h3{font-size: 22px;text-align: center;padding: 10px 0;margin-bottom: 20px;}
.message_wrapper p {line-height: 24px}
.order_info {margin: 10px 0}
.order_info li {padding: 5px 0;line-height: 24px}
.price {font-weight: 600;color: #e10000}
.actions {margin-top: 10px;}
.actions a{color: #288ad6}



.virtual_card {display: block;clear: both}
.virtual_card li {
    border:1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    clear: both;
    display: block;
}

.virtual_card li .type{
    background: #fafafa;
    font-weight: 700;
    padding: 10px;
    text-align: left
}

.virtual_card li .card_code {
    text-align: left;
    display: block;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    clear: both
}

.virtual_card li .card_code span{
    display: inline-block;
    padding: 8px 10px;
    box-sizing: border-box
}
.virtual_card li .card_code span:first-child{width: 60%;border-right: 1px solid #ddd}